@import "tailwindcss/theme";
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  scroll-behavior: smooth;
}

body {
  background-color: #e6ddce;
  color: #ea4d51;
}
